.list-info span{display: inline-block;vertical-align: top;}
.list-info .list-key{width:120px;}
.list-key{font-weight: bold;}
.list-key::after{content:':'}
.list-info .list-value{width:calc(100% - 130px);}
.list-scroll{height: auto; max-height: 300px; overflow: auto;}
.map{position: relative; width: 100vw; height: 300px; background: #fff; margin-top: 50px;z-index:5;}
.round {transform: rotate(-90deg); transition: all 1s ease-in-out; fill: none; stroke-width: 5; stroke-linecap: round; stroke-dasharray: 0 999;}
.bgRound {fill: none; stroke: #d0d0d0; stroke-width: 5;}
.svg-text{font-size:20px; font-family: 'Roboto', sans-serif; fill:#000;}
.map>.nomeScavo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 3px 0;
  margin: 0;
  text-align: center;
  font-size: 40px;
  z-index: 2000;
  background: rgba(0,0,0,.2);
}
#findPie{width: 300px; height:300px;}

.repConsegnato:not(:disabled):not(.disabled).active, .repConsegnato:not(:disabled):not(.disabled):active, .show>.repConsegnato.dropdown-toggle {
    color: #dc3545;
    background-color: transparent;
    border-color: transparent;
}
